body {
    background-image: url("https://content.presspage.com/uploads/1093/1920_img-7216-2-479217.jpg?10000");
    background-size: cover;
    backdrop-filter: blur(degree-of-blur);
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #002E5A;
    border: 4px solid #222222;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #002E5A;
    border: 4px solid #222222;
}

p {
    background-color: #002E5A;
    border: 4px solid #222222;
}

div {
    max-width: 80%;
    margin: auto;
    margin-top: 35%;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: #0062a5;
    border: 2px solid #222222;
}

#save-btn {
    background: #3ab5e8;
    border: 2px solid #222222;
}

